# Optional Task - BONUS

cleaning and data transforming

purpose: To create and clean a data set (list of contact). 

Author: Alison Hatfield
Date: Sep 2023

1. Start by creating a list of contacts
2. Create a DataFrame

In [1]:
import pandas as pd

contacts = [['Brooke Lansford', 'blansford15@example.com', '8161234567'], ['Lou Gilbert', 'LouGil11@example.com', '8163456789'], ['Olivia Wansing', 'OWansing32@example.com','9131122334'], ['Jen Harvey', 'Jenharvey@example.com', '9133451234'], ['Gracie Neff', 'GNeff0@example.com', '8167245533']]

contacts_df = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])

contacts_df

              Name                    Email       Phone
0  Brooke Lansford  blansford15@example.com  8161234567
1      Lou Gilbert     LouGil11@example.com  8163456789
2   Olivia Wansing   OWansing32@example.com  9131122334
3       Jen Harvey    Jenharvey@example.com  9133451234
4      Gracie Neff       GNeff0@example.com  8167245533

3. The phone numbers are not formatted.
4. Follow the text to create a function that uses regular expressions (usually abbreviated regex or re) to create a function to get a formatted version of the unformatted phone number. 
5. Use map() and your function to improve the DataFrame 
6. Verify phone numbers now appear with two dashes (e.g., 555-555-5555).

In [4]:
import re

def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

formatted_phone = contacts_df['Phone'].map(get_formatted_phone)

formatted_phone

0    816-123-4567
1    816-345-6789
2    913-112-2334
3    913-345-1234
4    816-724-5533
Name: Phone, dtype: object

New, clean, DataFrame below.

In [5]:
contacts_df['Phone'] = formatted_phone

contacts_df

              Name                    Email         Phone
0  Brooke Lansford  blansford15@example.com  816-123-4567
1      Lou Gilbert     LouGil11@example.com  816-345-6789
2   Olivia Wansing   OWansing32@example.com  913-112-2334
3       Jen Harvey    Jenharvey@example.com  913-345-1234
4      Gracie Neff       GNeff0@example.com  816-724-5533